<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/basetemplate :: page">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <div th:fragment="content">

        <div class="col-lg-12">
            <h1 class="page-header">Tarefas</h1>

        </div>

        <div class="col-lg-4">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="fa fa-pencil fa-fw"></i>Inserir Tarefa
                    </span>
                </div>
                <form th:object="${tarefa}" th:action="@{/app/tarefa}" method="POST">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Título</label>
                            <input class="form-control" th:field="${tarefa.titulo}"/>
                        </div>
                        <div class="form-group">
                            <label>Descrição</label>
                            <textArea class="form-control" th:field="${tarefa.descricao}"></textArea>
                        </div>
                        <div class="form-group">
                            <label>Turma</label>
                            <select class="form-control"     th:field="${tarefa.turma.id}">
                                <option th:each="t : ${allTurmas}" th:value="${t.id}"  th:text="${t.nome}">1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tamanho dos Questionários</label>
                            <input class="form-control" th:field="${tarefa.tamanhoQuestoes}" type="number"/>
                        </div>
                    </div>
    
                
                <!-- /.panel-body -->
                    <div class="panel-footer  clearfix">
                        <input class="btn btn-info pull-right" type="submit" name="save"  value="Salvar" />
                    </div>
                </form>
            </div>



        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="fa fa-list fa-fw"></i>Tarefas Cadastradas
                    </span>
                </div>
                <div class="panel-body">

<table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <td>Descricao</td>
                                <td>Turma</td>
                                <td class=" text-center">Situação</td>
                                <td class="col-lg-1"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${allTarefas.empty}">
                                <td colspan="3">Não existem tarefas cadastrados</td>
                            </tr>
                            <tr th:each="t : ${allTarefas}">
                                <td th:text="${t.descricao}">1</td>
                                <td th:text="${t.turma.nome}">1</td>
                                <td th:if="${t.etapaAtual!=null}" th:text="${t.etapaAtual.tipo}" class=" text-center "></td>
                                <td th:if="${t.etapaAtual==null}"  class=" text-center ">Não inciada</td>
                                <td>
                                    <a  class="btn btn-success btn-sm "  th:href="@{/app/tarefa/}+${{t.id}}" >
                                        <span class="fa  fa-arrow-right"> </span>
                                    </a>

                                </td>

                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>



        </div>
    </div>
</html>
