<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="fragments/basetemplate :: page">


<head>
    <title>TODO supply a title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>
<div th:fragment="content">
    <div class="page-header">
        <h2 class=""><a class="btn btn-success fa fa-arrow-circle-o-left" th:href="@{/app/tarefa/}+${resposta[0].equipe.tarefa.id}"></a><b>
            Questões Respondidas: </b>
            <span class="text-muted" th:text="${{resposta.size()}}"></span></h2>
    </div>
    <div class="col-md-12">


    </div>


    <div class="col-lg-12">
        <div class="panel panel-primary">

            <div class="panel-heading">
                        <span class="panel-title">

                            <i class="fa fa-users fa-fw"></i>Questões
                        </span>
            </div>


            <div class="panel-body">
                <div class="form-group">


                </div>
                <table class="table  table-hover dt-responsive" id="questosProf">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Equipe</th>
                        <th>Questão</th>
                        <th>Resposta</th>

                        <th>Correta</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="e , iter : ${resposta}">
                        <td th:text="${iter.index + 1}" >1</td>

                        <td th:text="${e.equipe.nome}">1</td>

                        <td th:text="${e.questao.question}">1</td>

                        <td th:text="${e.alternativa.descricao}">1</td>




                        <td  th:if="${e.alternativa.isCorreto() }" >
                                        <span class="label label-success ">
                                            Correta
                                        </span>
                        </td>

                        <td  th:unless="${e.alternativa.isCorreto() }" >
                                        <span class="label label-danger ">
                                            Errada
                                        </span>
                        </td>
                        <!--<td  th:if="${e.isAprovada()}" >-->
                                        <!--<span class="label label-success ">-->
                                            <!--Aprovada-->
                                        <!--</span>-->
                        <!--</td>-->

                        <!--<td  th:if="${e.isReprovado()}" >-->
                        <!--<span class="label  label-danger">-->
                                            <!--Reprovada-->
                                        <!--</span>-->
                        <!--</td>-->





                        <!--<td>-->
                            <!--<div class="btn-group pull-right" role="group">-->

                                <!--<a th:href="@{/app/questionario/}+${e.id}" class="btn btn-sm  btn-success fa fa-arrow-right"/>-->
                            <!--</div>-->
                        <!--</td>-->


                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>


</div>

<div th:fragment="customCSS">

    <link href="/plugins/datatables-plugins/dataTables.bootstrap.css"
          th:href="@{/plugins/datatables-plugins/dataTables.bootstrap.css}"
          rel="stylesheet" media="screen"/>
    <link href="/plugins/datatables-responsive/dataTables.responsive.css"
          th:href="@{/plugins/datatables-responsive/dataTables.responsive.css}"
          rel="stylesheet" media="screen"/>
    <script src="/plugins/datatables/js/jquery.dataTables.min.js"
            th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
    <script src="/plugins/datatables-plugins/dataTables.bootstrap.min.js"
            th:src="@{/plugins/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script src="/plugins/datatables-responsive/dataTables.responsive.js"
            th:src="@{/plugins/datatables-responsive/dataTables.responsive.js}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#questosProf').DataTable({
                responsive: true,
                "paging": false,
                "searching": false,

                "info": false,
                "order": [[0, "asc"]]

            });
        });
    </script>


</div>


</body>
</html>
