<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:include="fragments/basetemplate :: page">
    <head>
        <title>Paginal Inicial do Sistema de Questões</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <div th:fragment="content">

            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>

                Logged user: <span sec:authentication="name">Bob</span> Roles: <span
                    sec:authentication="principal.authorities">[ALUNO, ADMIN,
                    PROFESSOR, GRUPO]</span>
                <div sec:authorize="hasAuthority('ADMIN')">


                    <div th:class="col-md-4">
                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title"><span
                                        th:text="${usuarios.size()} "> </span> Sessões Ativas</span>
                            </div>
                            <div th:class="panel-body">
                                <table th:class="table">
                                    <thead>
                                        <tr>
                                            <td>Usuário</td>
                                            <td>Tipo de Usuario</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="u : ${usuarios}">
                                            <tr>
                                                <td th:text="${u.login}">A Smoke Test'</td>

                                                <td th:text="${u.tipoUsuario}">A Smoke Test'</td>
                                                <td th:class="col-md-1"><a
                                                        class="btn btn-danger btn-sm fa fa-trash-o"></a></td>
                                            </tr>
                                        </th:block>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>





                </div>


                <div sec:authorize="hasAuthority('PROFESSOR')">Essa mensagem só
                    aparece para quem é Professor</div>

                <div sec:authorize="hasAuthority('ALUNO')">Essa mensagem só
                    aparece para quem é Aluno</div>


			<div sec:authorize="hasAuthority('GRUPO')">
				<div class="row">
			
				
					<!--      Inicio do aguardando -->
					<!--          th:if="{equipe.tarefa.aguardando}"  -->
					<div class="col-lg-12"  th:if="${equipe.tarefa.etapaAtual.id} == '1'">


						<div class="alert alert-warning">
							<strong>Aguardando</strong>
		
							<p>Esperando a liberação pelo professor para a inserções das
								questões.</p>


                            </div>
                        </div>

                        <!--       Fim do aguardando -->




					<!--      Inicio do inserindo -->
					<!--          th:if="{equipe.tarefa.inserindo}"  -->
					<div class="col-lg-12" th:if="${equipe.tarefa.etapaAtual.id} == '2'">



                            <div class="alert alert-success">
                                <strong>Inserir Questões</strong>

                                <p>O grupo deve inserir as questões para serem validadas pelo
                                    professor.</p>

                            </div>
                            <div class="panel panel-primary">

                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Questões Inseridas  
                                        <a href="/app/questionario/inserir"
                                           class="btn btn-sm btn-default pull-right"> Add Nova Questão
                                            <span class="fa fa-plus"></span>
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive" id="Questoes">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Questão</th>
                                                <th>Última modificação</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>1</td>
                                                <td>Algoritmo de geracao de circulo</td>
                                                <td>14/01/2017</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>


					<!--       Fim do inserindo -->
					
										<!--      Inicio do validando -->
					<!--          th:if="{equipe.tarefa.validando}"  -->
					<div class="col-lg-12"  th:if="${equipe.tarefa.etapaAtual.id} == '3'">


						<div class="alert alert-warning">
							<strong>Validando</strong>
		
							<p>O Professor esta validando as questoes inseridas.</p>

						</div>
					</div>

					<!--       Fim do validando -->
					
					
					
					<!--      Inicio do respondendo -->
					<!--          th:if="{equipe.tarefa.respondendo}"  -->
					<div class="col-lg-12" th:if="${equipe.tarefa.etapaAtual.id} == '4'">



                        <!--      Inicio do respondendo -->
                        <!--          th:if="{equipe.tarefa.respondendo}"  -->
                        <div class="col-lg-12">
                          
                            <div class="alert alert-info">
                                <strong>Respondendo</strong> 
                                <a href="/app/questionario/responder"
                                   class="btn btn-sm btn-default pull-right"> Responder
                                    <span class="fa fa-check-square-o"></span>
                                </a>
                             <p>Responda as questões dos outros grupos.</p>
                        </div>

						</div>
						
						
						
						
					</div>

					<!--       Fim do respondendo -->
					
					
					
					<!--      Inicio do finalizado -->
					<!--          th:if="{equipe.tarefa.finalizado}"  -->
					<div class="col-lg-12" th:if="${equipe.tarefa.etapaAtual.id} == '5'">


						<div class="alert alert-info">
							<strong>Finalizado</strong>

							<p>Grupo pode ver sua pontuação.</p>

						</div>
					</div>

					<!--       Fim do finalizado -->


					<div class="col-md-6">

						<div class="col-md-12">
							<div class="panel panel-danger">

								<div class="panel-heading">
									<h3 class="panel-title">
										Equipe: <span th:text="${equipe.nome}"></span>
									</h3>
								</div>
								<div class="panel-body">

									<h4>
										<b>Titulo: </b><span th:text="${equipe.tarefa.titulo}"></span>
									</h4>
									<h4>
										<b>Descriçao: </b><span th:text="${equipe.tarefa.descricao}"></span>
									</h4>
								</div>
							</div>
						</div>



						<div class="col-md-12">
							<div class="panel panel-warning">

								<div class="panel-heading">
									<h1 class="panel-title">Participantes</h1>
								</div>
								<div class="panel-body">
									<table class="table table-responsive" id="Alunos">
										<thead>
											<tr>
												<th>Nome</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="e :${equipe.alunos}">

												<td th:text="${e.nome}">1</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>


					<div class="col-md-6">
						<div class="col-md-12">
							<div class="panel panel-primary">

								<div class="panel-heading">
									<h1 class="panel-title">Etapas da Tarefa</h1>
								</div>
								<div class="panel-body">
									<table class="table table-responsive" id="EtapasTarefa">
										<thead>
											<tr>
												<th>#</th>
												<th>Etapa</th>
												<th>Data Incial</th>
												<th>Data Final</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="e :${equipe.tarefa.etapaEventos}">
												<td th:text="${e.tipo.id()}">1</td>
												<td th:text="${e.tipo}">1</td>
												<!--<td th:text="${e.dataInicial}">1</td>-->
												<td
													th:text="${#dates.format(e.dataInicial, 'dd/MM/yyyy hh:mm')}">1</td>
												<!--<td th:text="${e.dataFinal}">1</td>-->
												<td
													th:text="${#dates.format(e.dataFinal, 'dd/MM/yyyy hh:mm')}">1</td>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>

	</div>
	
        <div th:fragment="customCSS">

            <link href="/plugins/datatables-plugins/dataTables.bootstrap.css"
                  th:href="@{/plugins/datatables-plugins/dataTables.bootstrap.css}"
                  rel="stylesheet" media="screen" />
            <link href="/plugins/datatables-responsive/dataTables.responsive.css"
                  th:href="@{/plugins/datatables-responsive/dataTables.responsive.css}"
                  rel="stylesheet" media="screen" />
            <script src="/plugins/datatables/js/jquery.dataTables.min.js"
            th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
            <script src="/plugins/datatables-plugins/dataTables.bootstrap.min.js"
            th:src="@{/plugins/datatables-plugins/dataTables.bootstrap.min.js}"></script>
            <script src="/plugins/datatables-responsive/dataTables.responsive.js"
            th:src="@{/plugins/datatables-responsive/dataTables.responsive.js}"></script>


            <script src="/plugins/moment/min/moment-with-locales.js"
            th:src="@{/plugins/moment/min/moment-with-locales.js}"></script>
            <script
                src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
            th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>

            <link
                href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
                th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"
                rel="stylesheet" media="screen" />


            <!--<script src="/plugins/select2/js/i18n/pt-BR.js"  th:src="@{/plugins/select2/js/i18n/pt-BR.js}"></script>-->


            <script type="text/javascript">
                $(document).ready(function () {
                });
                $('#EtapasTarefa').DataTable({
                    responsive: true,
                    "paging": false,
                    "searching": false,

                    "info": false,
                    "order": [[0, "asc"]]

                });
                $('#Alunos').DataTable({
                    responsive: true,
                    "paging": false,
                    "searching": false,

                    "info": false,
                    "order": [[1, "asc"]]

                });

                $('#Questoes').DataTable({
                    responsive: true,
                    "paging": false,
                    "searching": false,

                    "info": false,
                    "order": [[1, "asc"]]

                });
            </script>

            <script type="text/javascript">
                $(function () {

                    //Definindo o formato padrao e o locale
                    $(
                            '#datetimeAguardandoIni, #datetimeEsperandoSubmissaoIni, #datetimeValidandoQuestoesIni, #datetimeRespondendoQuestoesIni, #datetimeFinalizadoIni')
                            .datetimepicker({
                                dayViewHeaderFormat: 'DD/MM/YYYY hh:mm',
                                locale: 'pt-br'
                            });
                    $(
                            '#datetimeAguardandoFim, #datetimeEsperandoSubmissaoFim, #datetimeValidandoQuestoesFim, #datetimeRespondendoQuestoesFim, #datetimeFinalizadoFim')
                            .datetimepicker({
                                dayViewHeaderFormat: 'DD/MM/YYYY hh:mm',
                                locale: 'pt-br',
                                useCurrent: false
                                        //Important! See issue #1075
                            });

                    //Aqui eu olho para a data inicial e difinino uma data min para o Fim
                    $("#datetimeAguardandoIni").on(
                            "dp.change",
                            function (e) {

                                $('#datetimeAguardandoFim').data("DateTimePicker")
                                        .minDate(e.date);

                                // console.log(e.date);
                                //Pego a data e converto pegando os millisegundos
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();
                                // console.log(outputDate);

                                //  console.log(Date.parse(outputDate));
                                //  console.log(outputDate.getTime());
                            });

                    $("#datetimeEsperandoSubmissaoIni").on(
                            "dp.change",
                            function (e) {

                                $('#datetimeEsperandoSubmissaoFim').data(
                                        "DateTimePicker").minDate(e.date);

                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeValidandoQuestoesIni").on(
                            "dp.change",
                            function (e) {

                                $('#datetimeValidandoQuestoesFim').data(
                                        "DateTimePicker").minDate(e.date);

                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeRespondendoQuestoesIni").on(
                            "dp.change",
                            function (e) {

                                $('#datetimeRespondendoQuestoesFim').data(
                                        "DateTimePicker").minDate(e.date);

                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeFinalizadoIni").on(
                            "dp.change",
                            function (e) {

                                $('#datetimeFinalizadoFim').data("DateTimePicker")
                                        .minDate(e.date);

                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    //Aqui ao contrario da anterior
                    $("#datetimeAguardandoFim").on(
                            "dp.change",
                            function (e) {
                                $('#datetimeAguardandoIni').data("DateTimePicker")
                                        .maxDate(e.date);
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });
                    $("#datetimeEsperandoSubmissaoFim").on(
                            "dp.change",
                            function (e) {
                                $('#datetimeEsperandoSubmissaoIni').data(
                                        "DateTimePicker").maxDate(e.date);
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeValidandoQuestoesFim").on(
                            "dp.change",
                            function (e) {
                                $('#datetimeValidandoQuestoesIni').data(
                                        "DateTimePicker").maxDate(e.date);
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeRespondendoQuestoesFim").on(
                            "dp.change",
                            function (e) {
                                $('#datetimeRespondendoQuestoesIni').data(
                                        "DateTimePicker").maxDate(e.date);
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                    $("#datetimeFinalizadoFim").on(
                            "dp.change",
                            function (e) {
                                $('#datetimeFinalizadoIni').data("DateTimePicker")
                                        .maxDate(e.date);
                                var outputDate = new Date(e.date);
                                e.date = outputDate.getTime();

                            });

                });
            </script>


        </div>

    </body>
</html>
