<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  th:include="fragments/basetemplate :: page">
<head>

	<title>TODO supply a title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:fragment="content">

	<div class="col-lg-12">
		<br/>



		<div class="col-md-12 col-sm-8">
			<form action="#" th:action="@{/app/questionario/valQuestao}" th:object="${questaoModel}" role="form"
				  method="POST">

				<div class="panel panel-info">
					<div class="panel-heading clearfix">
						<h4 class="panel-title pull-left" style="padding-top: 7.5px;">
							<i class="fa fa-plus fa-fw"></i> Validando Questão
						</h4>

					</div>


					<div class="panel-body">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="form-group">
								<label>Questão</label>
								<textarea class="form-control" disabled = "true"
										  th:name="descricao"
										  rows="3"
										  placeholder="Descreva a questão"></textarea>

							</div>


							<div class="form-group input-group has-success">
								<span class="input-group-addon">A</span>
								<textarea  th:name="alternativaA.descricao"
										   class="form-control" disabled="true" id="inputSuccess"></textarea>
								<span
										class="input-group-addon">
                                            <input type="radio"
												   name="correto" id="optionsRadios1" value="A"
												   checked="true"/>

                                        </span>
							</div>


							<div class="form-group input-group">
								<span class="input-group-addon">B</span>
								<textarea class="form-control"
										  th:name="alternativaB.descricao"
										  disabled="true"
										  id="inputError"></textarea>
								<span class="input-group-addon">
                                            <input type="radio"
												   name="correto"
												   id="optionx  sRadios2"
												   value="B"/>
                                        </span>
							</div>


							<div class="form-group input-group">
								<span class="input-group-addon">C</span>
								<textarea
										class="form-control"
										th:name="alternativaC.descricao"
										disabled="true"
										id="inputError"></textarea> <span
									class="input-group-addon"> <input type="radio"
																	  name="correto" id="optionsRadios3" value="C"/>

                                        </span>
							</div>


							<div class="form-group input-group">
								<span class="input-group-addon">D</span>
								<textarea
										class="form-control"
										th:name="alternativaD.descricao"
										disabled="true"

										id="inputError"></textarea> <span
									class="input-group-addon"> <input type="radio"
																	  name="correto" id="optionsRadios4" value="D"/>

                                        </span>
							</div>


							<div class="form-group input-group">
								<span class="input-group-addon">E</span>
								<input hidden="true" value="Nenhuma das alternativas" th:name="alternativaE.descricao"/>
								<input type="text"
									   class="form-control" id="inputError"
									   disabled="true"
									   value="Nenhuma das alternativas"/> <span
									class="input-group-addon">
                                            <input type="radio"
												   name="correto" id="optionsRadios5" value="E"/>

                                        </span>


							</div>


						</div>


					</div>

					<div class="panel-footer  clearfix">
						<button type="submit" class="btn btn-info">
							<i class="fa fa-floppy-o  "> </i> Aceitar Questão
						</button>
						<button type="reset" class="btn btn-danger">Recusar Questão</button>
					</div>
				</div>
			</form>
		</div>

		<div th:fragment="customCSS">
			<script type="text/javascript">
                $(document).ready(
                    function () {
                        $('input').click(
                            function () {
                                $('input:not(:checked)').closest("div")
                                    .removeClass("has-success");
                                $('input:checked').closest("div")
                                    .addClass("has-success");
                            });
                    });
			</script>
		</div>
	</div>
</div>
</body>
</html>
